body {
    background-image: url(../照片/v2-85d3b4b32f1ec95d2b6873571e5bfccd_r.jpg);
}

.main .ps {
    /* display: block; */
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin-top: 300px;
}

.main .px {
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
}